<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1043268276959-upm92ui2h6uevgplv2t6241bhlo0g8l4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1043268276959-upm92ui2h6uevgplv2t6241bhlo0g8l4</string>
	<key>API_KEY</key>
	<string>AIzaSyA0tq70Fx8z-h5EqKXtIjvIpIm5IL7XT9w</string>
	<key>GCM_SENDER_ID</key>
	<string>1043268276959</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.musicConceptApp</string>
	<key>PROJECT_ID</key>
	<string>music-concept-app</string>
	<key>STORAGE_BUCKET</key>
	<string>music-concept-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1043268276959:ios:ab737a3844199b433c4f6a</string>
</dict>
</plist>